.logo {
    width: 4em;
    padding-left: 40px;
    transform: translate(50px,10px);
  }

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid orangered;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000000;
}

.header th {
  background: white;
  border-top: 0
}

.nav-items > ul{
  display: flex;
  list-style-type: none;
  transform: translateX(-20px);
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 5px;
  
}

.nav-items > ul > li{
  font-size: 1.3em;
  padding: 1.2em;
  padding-bottom: 0%;
  text-align: center;
  
}


.kart-logo {
  width: 4em;
  transform: translateY(-1.3em);
  
}



.search {
  background-color: #ddd;
  border: 2px solid gray;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: text;
  border-radius: 16px;
  width: 15rem;
  height: 0.5em;
  transform: translateY(-5px);
}

.search-btn{
  background-color: orangered;
  border: 2px solid grey;
  color: white;
  border-radius: 16px;
  width: 5rem;
  height: 2.3em;
  transform: translateY(-5px);

}

.search-btn:active{
  color: black;
}

 
.loading{
  margin-left: 37em;
  margin-top: 10em;
}


.rest-card{
  width: 16em;
  height: 25em;
  margin: 1em;
  margin-top: 2em;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 16em;
  
  
}
.rest-card:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 69, 0, 0.2), 0 6px 20px 0 rgba(255, 69, 0, 0.19);
  transition-duration: 0.2s;
  cursor: pointer;
}

.res-data-menu{
  width: 47em;
  height: 25em;
  background-color: #ddd;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  min-width: 16em;
  padding-left: 4em;
  text-align: center;
}

.res-data-shimmer{
  width: 47em;
  height: 25em;
  background-color: #dbdada;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  min-width: 16em;
  padding-left: 4em;
  text-align: center;
}

.food-items{
  width: 40em;
  height: 4em;
  background-color: #ddd;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  min-width: 16em;
  padding-left: 4em;
  margin: 1%;
  margin-left: 0%;
  justify-content: space-between;
  padding-right: 4em;
  margin-left: 2%;
  font-weight: 500;
  font-size: 1em;
  z-index: 2;
}

.food-items-shimmer{
  width: 43em;
  height: 4em;
  background-color: #dbdada;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  min-width: 16em;
  padding-left: 4em;
  margin: 1%;
  margin-left: 0%;
  justify-content: space-between;
  padding-right: 4em;
  font-weight: 500;
  font-size: 1em;
}




.accordion-data{
  transform: translateY(15px);
  font-weight: 700;
  font-size: 1.5em;
}

.accordion-title-active{
  width: 43em;
  height: 4em;
  background-color: orangered;
  color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  min-width: 16em;
  padding-left: 4em;
  margin: 1%;
  margin-left: 0%;
  justify-content: space-between;
  padding-right: 4em;
}

.accordion-title-active:hover{
  color: black;
  cursor: pointer;
  transition-duration: 0.2s;
}


.accordion-title{
  width: 43em;
  height: 4em;
  background-color: #ddd;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  min-width: 16em;
  padding-left: 4em;
  margin: 1%;
  margin-left: 0%;
  justify-content: space-between;
  padding-right: 4em;
}

.accordion-title:hover{
  background-color: orangered;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.accordion-title:active{
  color: black;
  transition-duration: 0.2s;
}

.avg-class{
  padding-bottom: 2em;
}

.gray{
  color: rgb(43, 43, 46);
  font-weight: 500;
  font-size: 1.1em;
}

.res-data{
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translate(2em ,2em);
}

.menu-card{
 background-color: #E3E3E3;
 align-items: center;
 padding-left: 23em;
 padding-top: 3em
}

.shimmer2{
  background-color: #E3E3E3;
 align-items: center;
 padding-left: 23em;
 padding-top: 3em
}

.res-logo{
  width: 14em;
  height: 12em;
  object-fit: cover;
  border-radius: 10%;
  margin-top: 5%;
  margin-bottom: 1em;
  display: flex;
}


.menu-res-logo{
  width: 17em;
  height: 17em;
  object-fit: cover;
  border-radius: 10%;
  margin-top: 5%;
  margin-bottom: 1em;
  transform: translate(8em , 1em);
}

.rate-logo{
  width: 5em;
  height: 0.8em;
  object-fit: cover;
}


.rest-card > h3{
  font-size: 1.2em;
  margin-bottom: 2%;
  margin-top: 0%;
  
}

.rating{
  font-size: 0.9em;
}

.cuisine {
  color: rgb(103, 105, 124);
  font-weight: 500;
  font-size: 0.9em;
  width: 13em;
  margin-top: 2%;
  text-align: center;
}

.res-dis{
  height: 2em;
}

.res-name{
  text-align: center;
}


.body{
  display: flex;
  flex-wrap: wrap;
  background-color: #E3E3E3;
  padding-left: 12em;
  padding-top: 1em;
}

.toprated-btn-container{
  height: 2em;
  width: 72em;
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

.btn-con-div{
  display: flex;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
}

.label:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #E3E3E3;
	border-radius: 22.5px;
	transition: 0.3s;
}

input:checked + .label {
	background: orangered;
}

input:checked + .label:after {
	left: calc(100% - 1.25px);
	transform: translateX(-100%);
}

.label:active:after {
	width: 32.5px;
}

.logout{
  cursor: pointer;
}

#top-label{
  font-size: 0.9em;
  margin-left: 1em;
  color: gray;
}

input:checked ~ #top-label {
	color: black;
}


.shimmer-con{
  width: 16em;
  height: 20em;
  margin: 1em;
  margin-top: 2em;
  border-radius: 10%;
  background-color: #dbdada;
}

.shimmer-con-con{
  display: flex;
  flex-wrap: wrap;
  padding-left: 12.3em;
  padding-top: 4em;
  background-color: #E3E3E3;
}



.about{
  align-items: center ;
  padding-left: 12.3em;
  padding-right: 12.3em;
  padding-top: 2em;
}

.contact{
  align-items: center ;
  padding-left: 12.3em;
  padding-right: 12.3em;
  padding-top: 2em;
}

.error-img{
  width: 50em;
  align-items: center;
  padding-left: 25em;
}

.social-img{
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  padding-left: 3em;
  padding-top: 1em;
}

.s-img{
  width: 2em;
}

.fotter{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid orangered;
}

.links-bot{
  display: flex;
  width: 15em;
  font-size: 1.2em;
  padding: 1em;
  justify-content: space-between;
  padding-left: 2em;
  padding-bottom: 1em;
}

.food-items-con{
  display: flex;
  align-items: center;
}

.add-cart{
  width: 15em;
  height: 4em;
  background-color: #ddd;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  margin: 1%;
  margin-left: 0%;
  justify-content: space-between;
  padding-right: 1em;
  margin-left: 2%;
  font-weight: 500;
  font-size: 1em;
  z-index: 1;
  transform: translateX(-300px);
}

.item-button{
  background-color: orangered;
  border: 2px solid grey;
  color: white;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  transform: translateY(20px);
  cursor: pointer;
}

.item-button:active{
  color: black;
}

.amount-spam{
  transform: translateY(20px);
}

.add-cart-button{
  background-color: orangered;
  border: 2px solid grey;
  color: white;
  border-radius: 16px;
  width: 7em;
  height: 3em;
  transform: translateY(12px);
  cursor: pointer;
}

.add-cart-button:active{
  color: black;
}

.food-items-con:hover > .food-items{
  box-shadow: 0 4px 8px 0 rgba(255, 69, 0, 0.2), 0 6px 20px 0 rgba(255, 69, 0, 0.19);
  transition-duration: 0.5s;
  transform: translatex(-150px);
}

.food-items-con:hover > .add-cart{
  box-shadow: 0 4px 8px 0 rgba(255, 69, 0, 0.2), 0 6px 20px 0 rgba(255, 69, 0, 0.19);
  transition-duration: 0.5s;
  transform: translatex(-150px);
}
.cat{
  
}